.backBtn{
    cursor: pointer;
    padding-right: 10px;
}

.bookAuthor{
    color: #A0A0A0;
}

.bookCard{
    width:150px;
}

.bookCard:hover {
    transform: scale(1.05);  
    cursor: pointer;
}

.bookCover{
    width: 100px;
    height: 150px;
    border-radius: 5px;
}

.booksGrid{
    background-color: #F8F7FF;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    height: 550px;
    overflow-y: auto;
}

.booksPageContainer {
    text-align: left;
    padding: 40px 120px;
    min-height: calc(100vh - 200px); 
    margin: 50px 0;
}

.pageTitle{
    color: #5E56E7;
    display: flex;
    align-items: center;
}

.searchInput{
    width: 100%;
    padding: 5px;
    background-color: #F0F0F6;
    border: none;
}

@media (max-width: 768px){
    .backBtn{
        font-size: 1.8rem;
        margin-left: 20px;
    }
    .bookCard{
        width: 120px;
        margin-bottom: 20px;
        font-size: 0.7rem;
    }

    .booksGrid{
        justify-content: center;
        height: auto;
        padding: 10px;
    }

    .booksPageContainer{
        padding: 0;
        margin: 20px 0;
    }

    .searchInput{
        font-size: 1rem;
        padding: 10px;
        width: -webkit-fill-available;
        border-radius: 5px;
        margin: 0 20px;
    }


}